@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.about-me{
  
    width: 100%; 
    background-color: rgb(36, 34, 34) ;
    /* color: rgb(52, 235, 192); */
    color: white;
    display: flex;
    flex-wrap: wrap;


    
}

.about-me__content{
    margin: auto 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.about-me_header{
  
    font-family: inherit;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
   

  
}

.header--header{
    border-bottom: 1px solid rgb(52, 235, 192);
}


.paragraph--bold{
    color:rgb(52, 235, 192) ;
    font-weight: bold;
}

.sections--headers{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.about-me__sections{
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    /* margin: auto 0.2rem; */
     justify-content: space-between; 
    margin-top: 2rem;
    
}

.section--personal-details{
    display: flex;
    flex-direction: column;

    
}

.details--list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2rem;
}
.list-1 {
    color: rgb(52, 235, 192);
    text-transform: uppercase;
    font-weight: bolder;

  
}

.details--list li{
    list-style: none;
   
}

.section--my-interests{

    display: flex;
    flex-direction: column;
    width: 30rem;
    

} 

.icons{
   display: flex;
   flex-wrap: wrap;
     /* grid-auto-rows: minmax(100px, auto);  */
     /* display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-auto-flow: row;
     grid-gap: 0.5rem; */
     justify-items: center;
     align-items: center;
     gap: 12px;
   
     } 

.interests_icons{
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 5, 5, 0.9);
 
    box-shadow: 0 0 10px 0 grey;
    font-size: 1rem;

    border-radius: 5px;
     height: 100px;
    width: 100px;
   justify-content: center;
   align-items: center;
 

   
}

 .download_button{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 3rem;
 } 
 
 .download_button-style{

    padding: 0.6rem;
    width: 10rem;
    border: 1px solid white;
    background-color: rgba(5, 5, 5, 0.9);
    color: white;
 }




