@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.about-me{
    height: 90vh;
    width: 100%;
    background-color: rgb(36, 34, 34) ;
    /* color: rgb(52, 235, 192); */
    color: white;
    
    

    
}

.about-me__content{
    margin: auto 6.9rem;
    display: flex;
    flex-direction: column;
}

.about-me_header{
  
    font-family: inherit;
    display: flex;
    justify-content: center;
    padding: 4rem;
   

  
}

.header--header{
    border-bottom: 1px solid rgb(52, 235, 192);
}


.paragraph--bold{
    color:rgb(52, 235, 192) ;
    font-weight: bold;
}

.sections--headers{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.about-me__sections{
    display: flex;
    flex-direction: column;
    height: auto;
    /* margin: auto 0.2rem; */
    justify-content: space-evenly;
    margin-top: 2rem;
    
}

.section--personal-details{
    display: flex;
    flex-direction: column;

    
}

.details--list{
    display: flex;
    flex: column;
    margin-top: 2rem;
    
    
}

.list-1 {
    color: rgb(52, 235, 192);
    text-transform: uppercase;
    font-weight: bolder;

  
}

.details--list li{
    list-style: none;
   
}




