.contact-me-container{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    background: url('./contact-me-images/digital.jpg');
    background-size: cover;
    color:white;
}

.contact-me-heading{
margin-top: 2rem;
display: flex;
justify-content: center;
text-transform: uppercase;
}

.contact-me-heading__underline{
    border-bottom: 1px solid rgb(52, 235, 192);
}

.form-map-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    flex-wrap: wrap;
    
}

.contact-me__form-inner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
   
}

.name{
    width: 400px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(22, 22, 22);
    border-right: none;
}

.email{
    width: 400px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(22, 22, 22);
    border-right: none;
}

.Message{
    width: 400px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(22, 22, 22);
    border-right: none;

}

.form-button{

   width: 150px;
   height: 40px;
    color: black;
}

.contact-me__map{
    background-color: black;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me__map-text{
    padding: 0.8rem;
    border-bottom: 1px rgb(75, 70, 70) solid;
}

