.recents__container{
    height: 99vh; 
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 2rem;

}

.recents__header{

}

.recents__header-heading{
    border-bottom: 1px solid rgb(52, 235, 192);
}

.recents__list{
    display: flex;
    list-style: none;
    gap: 3rem;
    position: relative;
    color: black;
}


.recents__list-item::before{
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 1px;
    background-color: rgb(52, 235, 192);

    transform: scaleY(0);
    transition: transform .2s,
    width .4s cubic-bezier(1,0,0,1) .2s,
    background-color .1s ;

}
.recents__list-item:hover::before,
.recents__list-active::before{transform: scaleY(1);
    width: 100%;}




