.skills{

    height: 90vh;
    background-color: black;
    color: white;

  
    
}

.skills__content{

    display: flex;
    flex-direction: row;
   
   
}

.skills_header{
  
    font-family: inherit;
    padding: 2.5rem;
    display: flex;
    justify-content: center;
   

  
}

.skills_header-underline{
    border-bottom: 1px solid rgb(52, 235, 192);
}

.skills_bars_section{
    
    display: flex;
    justify-content: space-evenly;
  
   
   
}

.section_left{
         width: 30%;
         margin-bottom: 10px;
  
         
       
}

.section_right{
    width: 30%;
}





/*.skills_header{
    .skills__header {
    font-family: inherit;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.skills__header-heading{
      border-bottom : 1px solid rgb(52, 235, 192) ;
} 

.skills__bars{
display: flex;
flex-direction: column;
justify-content: center;



   
}  */