.skills{

    height: 90vh;
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: center;
  
    
}

.skills__content{
    display: flex;
    flex-direction: column;
}


.skills__header {
    font-family: inherit;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.skills__header-heading{
      border-bottom : 1px solid rgb(52, 235, 192) ;
} 

.skills__bars{
display: flex;
flex-direction: column;
gap: 20px;


   
}