.skills{

    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: center;
  
    
}

.skills__content{
    display: flex;
    flex-direction: row;
}


.skills__header {
    font-family: inherit;
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.skills__bars{
display: flex;
flex-direction: column;
gap: 20px;
width: 80%;

   
}