.flex-container{

   display: flex;
  
}



.square{
   /* width: 25%; */
   height: 55vh;
   background-color: black;
   display: flex;
   border-radius: 10px;
   justify-content: center; 
   align-items: center;
   box-shadow: 0 0 10px 0 grey;
   flex-direction: column;
  position: relative;
   margin-top: 50%;
   padding: 3rem;
 

}

@keyframes slideout {
    
   0%{
      transform: translateX(-800px);
   }

   50%{
      transform: translateX(800px);
   }
}

.square:hover{
  
   animation: 3s linear 1s running slideout;

}


.circle{


    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* outline: 1.5rem solid rgb(52, 235, 192); */
     box-shadow: 0 0 40px 0 rgb(52, 235, 192);
    background: 
       url("../header/Assets/circle.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       position: absolute;
       top: -80px;

      
     
}
/* @keyframes nudge {
   0%, 100% {
     transform: translate(0, 0);
   }
   
   50% {
     transform: translate(150px, 0);
   }
   
   80% {
     transform: translate(-150px, 0);
   }
 }
 

.circle:hover{
  
   animation: nudge 5s linear infinite alternate;
} */


.name{

   color: rgb(52, 235, 192);
   
}

.square-icons{
   height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
   margin-top: 2rem;

}

.icon-circle{

   display: flex;
  width: 3rem;
   height: 3rem;
   border-radius: 50%;
     border: 1px solid white;
  
     justify-content: center;
     align-items: center;
     background-color: black;
     gap: 1rem;
     box-shadow: 0 0 10px 0 grey;
     margin-right: 8px;
     color: white;
     font-size: 1.5rem;
}

