.flex-container{

   display: flex;
  
}



.square{
   /* width: 25%; */
   height: 55vh;
   background-color: black;
   display: flex;
   border-radius: 10px;
   justify-content: center; 
   align-items: center;
   box-shadow: 0 0 10px 0 grey;
   flex-direction: column;
  position: relative;
   margin-top: 50%;
 

}

@keyframes slideout {
    
   0%{
      transform: translateX(-800px);
   }

   50%{
      transform: translateX(800px);
   }
}

.square:hover{
  
   animation: 3s linear 1s running slideout;

}


.circle{


    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* outline: 1.5rem solid rgb(52, 235, 192); */
     box-shadow: 0 0 40px 0 rgb(52, 235, 192);
    background: 
       url("../header/Assets/circle.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       position: absolute;
       top: -80px;

      
     
}
@keyframes nudge {
   0%, 100% {
     transform: translate(0, 0);
   }
   
   50% {
     transform: translate(150px, 0);
   }
   
   80% {
     transform: translate(-150px, 0);
   }
 }
 

.circle:hover{
  
   animation: nudge 5s linear infinite alternate;
}


.name{

   color: rgb(52, 235, 192);
   
}

.icons{
   height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
   margin-top: 20px;

}

.icon-circle{

   display: flex;
  width: 4rem;
   height: 4rem;
   border-radius: 50%;
     border: 3px solid rgb(52, 235, 192);
  
     justify-content: center;
     align-items: center;
     background-color: rgb(119, 114, 114);
     margin: 5px;
     box-shadow: 0 0 10px 0 grey;
     
}

.icon-circle:first-child{
   background: url("./Assets/facebook.png");
  background-size: cover;
  background-position: center;
}


.icon-circle:nth-child(2){
   background: url("./Assets/insta.png");
   background-size: cover;
   background-position: center;
}

.icon-circle:nth-child(3){
   background: url("./Assets/linkedin.png");
   background-size: cover;
   background-position: center;
}

.icon-circle:nth-child(4){
   background: url("./Assets/skype.png");
   background-size: cover;
   background-position: center;
}

.icon-circle:nth-child(5){
   background: url("./Assets/twitter.png");
   background-size: cover;
   background-position: center;
}